<div class='people_list'>
  <div class='row'>
    <%= render "list", :people => @people_1 %>
    <%= render "list", :people => @people_2 %>
  </div>


  <div class='row'>
    <div class='col-xs-6'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <td><strong>Bride's Parents</strong></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @b_parents.each do |person| %>
            <tr>
              <td><%= person.last_name %></td>
              <td><%= person.first_name %></td>
              <td><%= person.table_number %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class='col-xs-6'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <td><strong>Grooms's Parents</strong></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @g_parents.each do |person| %>
            <tr>
              <td><%= person.last_name %></td>
              <td><%= person.first_name %></td>
              <td><%= person.table_number %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-6'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <td><strong>Bridal Party</strong></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @b_party.each do |person| %>
            <tr>
              <td><%= person.last_name %></td>
              <td><%= person.first_name %></td>
              <td><%= person.table_number %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class='col-xs-6'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <td><strong>Bride &amp; Groom</strong></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @couple.each do |person| %>
            <tr>
              <td><%= person.last_name %></td>
              <td><%= person.first_name %></td>
              <td><%= person.table_number %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>